.contact-container {
    width: 100%;
    max-width: 1300px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-method {
    flex: 1;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }